*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: url(back3.jpg);
	opacity:1;
	background-position: center;
	background-size: cover;
	position: absolute;
}
.img{
	background:transparent;
	 opacity:1;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 40px;
}
nav
{
    flex: 2;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 40px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 25px;
    color: rgb(105, 104, 105);
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 25px;
    color: rgb(105, 104, 105);
    outline: none;
    border: none;
    background:transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
#login-form
{
    display: none;
	margin-left: 50px;


}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	color:rgba(128, 218, 243, 0.852);
	background:rgb(128, 218, 243,0.852);
	padding:20px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	bottom:0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #f4ad83a7;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 100px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:15px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgba(86, 232, 103, 0.619);
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 30px;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
h3{
	color:white;
	text-align: center;
}
h1{
	color:rgb(31, 45, 209);
	text-align: center;

	margin-right: 250px;;
}

#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}
